* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  background-color: rgb(126, 114, 201);
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter {
  background-color: #8ea7c8ca;
  width: 476px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(52, 57, 79, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.counter__title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
}
.counter__value {
  color: #fff;
  font-size: 200px;
  font-weight: 600px;
  margin-top: 10px;
}
.counter__rest-button {
  cursor: pointer;
}
.counter-rest-icon {
  opacity: 0.5;
  font-size: 35px;
  transition: all 0.4s;
}
.counter-rest-icon:hover {
  opacity: 0.7;
}
.counter__buttons {
  background-color: rgb(22, 44, 106);
  height: 116px;
  width: 100%;
  margin-top: auto;
  display: flex;
}
.counter__button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}
.counter__button:hover {
  background-color: rgb(52, 95, 151);
}
.counter__icon {
  color: #ddd;
  opacity: 0.7;
  font-size: 40px;
  transition: all 0.4s;
}
.counter__icon:hover {
  opacity: 0.9;
}

.counter__button-increase {
  border-left: 3px solid rgb(54, 107, 138);
}

@media (max-width: 680px) or (max-height: 730px) {
  .counter {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .counter__title {
    margin-top: 100px;
  }
}
